* {
    box-sizing : border-box ; 
}

html {
   min-height : 100vh ;
}

body {
    min-height : 100vh ;
    margin : 0 ;
    font-family : sans-serif ;
    display : flex ;
    flex-direction : column ;
    align-items : center ;
}

body#visiteur {
    background : url("/img/design/logo_footer.png") no-repeat 75% bottom ;
    padding-bottom : 150px ;
}


/* Headers */
#headerPrincipal {
    display : flex ;
    width : 100% ;
    padding-right : 5px ;
}
#tchi > #headerPrincipal > #btnMenuNav {margin-right : 5px ;}

#banniere-header, body#visiteur > header, body#visiteur-resume > header {
    width : 75% ;
    min-width : 300px ;
    max-width : 600px ;
    position : relative ;
    bottom : -2px ;
}

h1 {
    margin-top : 0 ;
    padding-top : 15px ;
    text-align : center ;
    word-wrap: break-word;
}

/* menu de navigation */
#menuNav {
    margin : 10px ;
}


/* Footers */
#banniere-footer {
    width : 75% ;
    min-width : 300px ;
    max-width : 600px ;
    position : relative ;
    bottom : -4px ;
}

/* Mains */

main {
    flex-grow : 1 ;
}

.espace-raisonnable {
    width : calc(100% / 8 * 6) ;
    min-width : 300px ;
    max-width : 1000px ;   
    margin : auto ;
}

.cadre {
    background : white ;
    border : 10px solid black ;
    border-radius : 15px ;
    margin : auto ;
    padding : 15px ;
}
.cadre-large {
    width : calc(100% / 8 * 6) ;
    min-width : 300px ;
    max-width : 800px ;
}

.cadre-moyen {
    width : calc(100% / 8 * 4) ;
    min-width : 300px ;
    max-width : 800px ;  
}

.txt-center {text-align : center ;}
.txt-grey {color : grey ;}
.txt-left {text-align : left ;}


.icon-moyen {
    width : 75px ;
    height : 75px ;
}
.flex-expanse {
    flex-grow : 1
}


a {
    color : black ;
    font-weight : bold ;
    text-decoration : none ;
}

p a:hover {
    border-bottom : 1px black dotted ;
}



/* Forms */

label {
    font-weight : bold ;
}

.form_champ {
    margin : 10px 0 15px 0 ;
}

input, textarea, button {
    border : 5px solid black ;
    background : white ;
    border-radius : 2px ;
    padding : 5px ;
    margin-top : 5px ;
}


input[type="text"], input[type="password"], textarea {
    width : 100% ;
}
input[type="submit"], button {
    padding : 10px ;
    color : black ;
    font-weight : bold ;
    font-size : 1.2rem ;
    display : block ;
    margin : auto ;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    min-width : 120px ;
}

input[type="checkbox"] {
    position : relative ;
    top : 5px ;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid black ;
}
input[type="checkbox"]:checked:before {
    content: 'x';
    display: block;
    color: black;
    font-weight : bold ;
    font-size: 1.1rem ;
    position: absolute;
    top : -6px ;
    left : 0 ;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid black ;
    border-radius : 50% ;
    position: relative ;
}

input[type="radio"]:checked:before {
    content: 'x';
    display: block;
    color: black;
    font-weight : bold ;
    font-size: 1.1rem ;
    position: absolute;
    top : -6px ;
    left : 0 ;
}

input[type="radio"] + label {
    position : relative ;
    top : -2px ;
}

textarea {
    height : 125px ;
    overflow-y : auto ;
}

.form_btns {
    display : flex ;
    align-items : center ;
    justify-content : center ;
    flex-wrap : wrap ;
}

.form_btns > input[type="submit"] {
    display : inherit ;
    margin : 10px ;
}

.champ-inline {
    display : inline ;
    flex-wrap : wrap ;
    /*width : auto !important ;*/
}
.inline {
    display : inline ;
}
.flex-inline.flex-axe2-center {
    align-items : center ;
}

button#navLienDeconnect {
    border : none ;
    margin : 0 ;
    padding : 0 ;
}

/* Fiche membre */

#seeMyTchi > section {
    margin : 0 0 15px 15px ;
}

#tchiView {
    width : 300px ;
    height : 300px ;
    border : 5px solid black ;
    border-radius : 12px ;
    float : left ;
    margin : 0 15px 15px 0 ;
    background : white url("/img/design/shimeji.png") no-repeat center bottom ;
    background-size : auto 125px ;
}

.cleareur {
    clear : both ;
    background : transparent ;
    border : none ;
    color : transparent ;
}

.separateur {
    background : grey ;
    border : 3px solid grey ;
    color : black ;
    width : 60% ;
    min-width : 200px ;
    margin : auto ;
    margin-top : 25px ;
    margin-bottom : 25px ;
}

#avatar {
    position : absolute ;
    top : -20px ;
    left : -20px ;
    border-radius : 0 50% 50% 50% ;
    border : 5px solid grey ;
    width : 125px ;
    height : 125px ;
    overflow : hidden ;
    background : white ;
}

#avatar > img {
    width : 100px ;
    height : 100px ;
    position : relative ;
    top : 20px ;
    left : 10px ;
}

.warning:before {
    content : url("/img/icons/warning_20.png") ;
    margin-right : 10px ;
    position : relative ;
    top : 3px ;
}

.flex-inline {
    display : flex ;
    flex-wrap : wrap ;
    align-items : self-start ;

}
.flex-inline > .cadre {
    margin : 0 0 15px 0 ;
}

#navAdministration {
    margin-right : 15px ;
}

nav > ul {
    margin : 0 ;
    padding : 0 ;
    list-style : none ;
}

#contentAdministration {
    min-height : 600px ;
}

#presentationTchi {
    padding-left : 20px ;
}

/* Tableaux */

table {
    width : 100% ;
}

thead > tr > th {
    border-bottom : 1px lightgrey solid ;
}
tbody > tr > td:nth-of-type(n + 2) {
    text-align : center ;
}


/* Tchi */

#visuelTchi {
    display : flex ;
    flex-wrap : wrap ;
    justify-content : center ;
}

#windowTchi {
    width : 300px ;
    height : 300px ;
    margin-right : 15px ;
    position : relative ;
}

.barreStat:first-of-type {
    margin-top : 15px ;
}

.barreStat {
    height : 30px ;
    width : 250px ;
    background : grey ;
    border : 3px solid black ;
    border-radius : 1px ;
    margin-bottom : 15px ;
}

.barreStat:before {
    position : relative ;
    left : 250px ;
    top : 3px ;
}


#statSatiete:before {
    content : url("/img/icons/satiete_20.png") ; 
}

#statRepos:before {
    content : url("/img/icons/repos_20.png") ; 
}

#statProprete:before {
    content : url("/img/icons/proprete_20.png") ; 
}

#statDistraction:before {
    content : url("/img/icons/distraction_20.png") ; 
}

#vignetteTchi {
    width : 150px ;
    height : 150px ;
    position : absolute ;
    bottom : -3px ;
    left : 65px ;
}

#manetteTchi {
    justify-content : space-between ;
}

#manetteTchi button {
    margin-bottom : 15px ;
}

@media screen and (max-width: 400px) {
  #avatar {
    display:none;
  }
}

/* Fenêtre modale de premier plan */
.foreground.modale {
    position : fixed ;
    top : 0 ;
    left : 0 ;
    background : rgba(0, 0, 0, 0.75) ;
    z-index : 10 ;
    width : 100% ;
    height : 100vh ;
    overflow : hidden ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
}

.foreground.modale .box {
    background : white ;
    border : 6px solid black ;
    border-radius : 15px ;
    margin : auto ;
    width : calc(320px - 12px) ;
    padding : 15px ;
    position : relative ;
}

.hiddenModale, .hidden {
    display : none !important ;
}

.navLien > a {
    font-size : 1.5rem ;
}
 
.navLien > span {
    background : url("/img/design/menu_sprites.png") no-repeat left center ;
    width : 40px ;
    height : 40px ;
    background-size : 120px 120px ;
    display : inline-block ;
    margin-right : 15px ;
    position : relative ;
    top : 10px ;
}

#navLienAccueil > span {
    background-position : -40px -80px ;
}

#navLienTchi > span {
    background-position : 0 0 ;
}

#navLienProfil > span {
    background-position : 0 -40px ;
}

#navLienParams > span {
    background-position : 0 -80px ;
}

#navLienLegal > span {
    background-position : -40px 0 ;
}

#navLienAdmin > span {
    background-position : -80px 0 ;
}

#navLienDeconnect {
    margin-top : 25px ;
}
#navLienDeconnect > span {
    background-position : -40px -40px ;
}

nav.box > ul > li {
    margin-bottom : 10px ;
}

#closeModale {
    position : absolute ;
    right : 20px ;
}


/* Spécial résumé */


#resume {
    background : url("/img/design/shimeji.png") no-repeat 120px bottom ;
    background-size : 175px auto ;
    padding-bottom : 200px ;
}

#resume + footer {
    flex-grow : 1 ;
    display : flex ;
    justify-content : space-between ;
    align-items : end ;
    width : 100% ;
    padding : 20px ;
}


@media print {
    body, html {
        margin-bottom : 0 ;
    }
    
    #resume + footer {
        padding-bottom : 0 ;
    }
}

#errorPage {
    text-align : center ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}