{% extends 'root.twig' %}

{% block body %}
<body id="membre">
    {% include '/includes/header.twig' with {'titrePage': titrePage} %}
        
    {% block main %}<main role="main">Impossible de trouver le main...</main>{% endblock main %}

    {% include '/includes/footer_banniere.twig' %}
    
    
    {% block javascripts %}
   {# {% include '/includes/service_worker.twig' %}#}
    <script type="text/javascript" src="/js/index.js"></script>
        {% if isAdmin is defined %}
    	<script type="text/javascript" src="/js/admin.js"></script>
        {% endif %}
    {% endblock %}
</body>
{% endblock body %}