{% extends 'root.twig' %}

{% block body %}
<body id="visiteur">
    {% include '/includes/header_public.twig' %}
        
    {% block main %}<main role="main">Impossible de trouver le main...</main>{% endblock main %}
    
    {% block javascripts %}
   {# {% include '/includes/service_worker.twig' %}#}
    <script type="text/javascript" src="/js/index.js"></script>{% endblock %}
    
</body>
{% endblock body %}
