{% extends 'root.twig' %}

{% block body %}
<body id="tchi">
    {% if nomTchi is defined %}
        {% include '/includes/headerTchi.twig' with {'nomTchi': nomTchi, 'nbJours' : nbJours} %}
    {% else %}
        {% include '/includes/header.twig' with {'titrePage' : "Instancier un tchi" } %}
    {% endif %}
    
    {% block main %}<main role="main">Impossible de trouver le main...</main>{% endblock main %}

    {% include '/includes/footer_banniere.twig' %}
    
    {% block javascripts %}
        {# {% include '/includes/service_worker.twig' %}#}
        <script type="text/javascript" src="/js/index.js"></script>
    {% endblock %}
</body>
{% endblock body %}