{% extends 'root.twig' %}

{% block body %}
<body id="visiteur-resume">
    {% include '/includes/header_public.twig' %}
        
    {% block main %}<main role="main">Impossible de trouver le main...</main>{% endblock main %}
    
</body>
{% endblock body %}

