<head>
    <meta charset="utf-8" />
    <meta name="author" content="Maelle LaLicorne">
    <meta name="description" content="Virgotchi : crée et prends soin de ta créature virtuelle, et customise ton univers !" />
    <meta name="keywords" content="virgotchi, tamagotchi, créature virtuelle, personnalisation, css, html, javascript apprendre, apprentissage par le jeu" />
    <title>Virgotchi : élève ta créature et personnalise ton univers !</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/styles.css" />
            {% if ficheCSS is defined %}
                <link rel="stylesheet" href="/css/profils/{{ ficheCSS }}.css" />
            {% endif %}
        {% endblock %}
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> <!--si t'es un vieux navigateur, t'as besoin de ça pour comprendre la nouvelle ossature de page issue de html5-->
    <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/manifest.json">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>