<footer id="footerPrincipal"><a href="/" title="Cliquer sur cette bannière pour revenir à l'accueil de Virgotchi"><img id="banniere-footer" src="/img/design/banniere_footer.png" alt="banniere Virgotchi" /></a></footer>