<form method="POST" action="\profil">
    {% include '/includes/csrf_patchForms.twig' %}
    <div class="form_champ">
        <label for="descriptionTchi">Description du Tchi</label>
        <textarea id="descriptionTchi" name="descriptionTchi">{{ fiche.descriptionTchi }}</textarea>
    </div>
    
    <div class="form_champ">
        <label for="descriptionMembre">Description personnelle</label>
        <textarea id="descriptionMembre" name="descriptionMembre">{{ fiche.descriptionMembre }}</textarea>
    </div>
    
    <div class="form_champ">
        <label for="miseEnFormeCss">Mise en forme CSS</label>
        <textarea id="miseEnFormeCss" name="miseEnFormeCss">{{ fiche.ficheCSS }}</textarea>
        <p>Besoin d'aide pour créer ta fiche ? <a href="http://79.81.210.182:8080/">Consulte l'aide de Virgotchi</a> !</p>
    </div>
    
    <div class="form_champ form_btns">
        <input type="submit" value="Enregistrer" />
        <a href="/profil/{{ fiche.slug }}">Voir le profil créé</a>
    </div>
</form>
