<p class="warning">Attention ! Les actions ci-dessous sont irréversibles !</p>

<form class="encart" method="POST" action="/compte">
    
    <input type="hidden" name="_METHOD" value="DELETE" />
    
    <input id="actionDelete" type="hidden" name="actionDelete" value="" />
    {% include '/includes/csrf_patchForms.twig' %}
    <input type="checkbox" name="modifierIrreversible" id="modifierIrreversible" /> <label for="modifierIrreversible">Je comprends qu'en effectuant une de ces actions, je ne pourrai pas changer d'avis.</label>
    </div>
    
    <div class="form_champ form_btns">
        <input id="relacherTchi" type="submit" value="Relâcher mon Tchi" />
        <input id="supprimerCompte" type="submit" value="Supprimer mon compte" />
    </div>
    
</form>

