<form method="POST" action="/tchi">
    {% include '/includes/csrf_patchForms.twig' %}
    <div class="form_champ">
        <label for="nomTchi">Nommer le tchi :</label>
        <input id="nomTchi" name="nomTchi" type="text" maxlength="64" required />
    </div>
    
    <div class="form_champ">
        <input type="submit" value="Créer" />
    </div>
</form>