<form method="POST" action="/compte">
    <input type="hidden" name="_METHOD" value="PUT" />
    {% include '/includes/csrf_patchForms.twig' %}
    <div class="form_champ">
        <label for="email">Adresse email</label><br/>
            <input id="email" class="champ-inline" name="email" type="text" maxlength="255" minlength="6" value="{{ membre.email }}" autocomplete="off" />
    </div>
       
    <div class="form_champ">
        <label for="passwd">Mot de passe</label><br/>
        <div class="flex-inline flex-axe2-center">
            <input id="passwd" class="champ-inline" name="passwd" type="password" maxlength="255" minlength="6" required autocomplete="off" />
            <span><input type="checkbox" name="modifierPass" id="modifierPass" /> <label for="modifierPass">Modifier</label></span>
        </span>
    </div>
        
    <div id="champNewPasswd" class="form_champ hidden">
        <label for="new_passwd">Nouveau mot de passe</label><br/>
        <input id="new_passwd" class="champ-inline" name="new_passwd" type="password" maxlength="255" minlength="6" autocomplete="off" />
    </div>
    
    <div class="form_champ">
        <input type="submit" value="Valider les modifications" />
    </div>
    
</form>
