<form id="authForm" class="encart" method="POST" action="\log">
    <h1>Connexion / Inscription</h1>
    
    {% include '/includes/csrf_patchForms.twig' %}
        
    <div class="form_champ">
        <label for="pseudo">Identifiant :</label>
        <input id="pseudo" name="pseudo" type="text" maxlength="32" minlength="2" autocomplete="off" required />
    </div>
       
    <div class="form_champ">
        <label for="password">Mot de passe :</label>
        <input id="password" name="password" type="password" minlength="6" autocomplete="off" required />
    </div>    
        
    <div class="form_champ">
        <input type="radio" name="logtype" value="connexion" id="connexion" checked /> <label for="connexion">Connexion</label>
        <input type="radio" name="logtype" value="inscription" id="inscription" /> <label for="inscription">Inscription</label>
    </div>
    
    <div class="form_champ">
        <input id="authFormSubmitBtn" type="submit" value="Se connecter" />
    </div>
</form>
