<header id="headerPrincipal">
    <div id="presentationTchi" class="flex-expanse">
        <h1 class="txt-left">{{ nomTchi }}</h1>
        <p class="txt-grey">
            {% if nbJours <= 1 %}
                {{ nbJours }} jour
            {% else %}
                {{ nbJours }} jours
            {% endif %}
        </p>
    </div>
    {% include '/includes/nav.twig' %}
</header>