<header>
    <a href="/" title="Cliquer sur cette bannière pour revenir à l'accueil de Virgotchi"><img id="banniere-header" src="/img/design/banniere_header.png" alt="banniere Virgotchi" /></a>
    {% include '/includes/nav.twig' %}
</header>
