{% include '/includes/csrf_patchForms.twig' %}
<button id="btnNourrir" name="btnNourrir">Nourrir</button>
<button id="btnBorder" name="btnBorder">Border</button>
<button id="btnToiletter" name="btnToiletter">Toiletter</button>
<button id="btnAmuser" name="btnAmuser">Amuser</button>