{% extends 'baseMembre.twig' %}

{% set titrePage = "Administration" %}

{% block main %}
    <main id="pageAdministration" role="main" class="espace-raisonnable flex-inline">
        <nav id="navAdministration">
            <ul>
                <li><a id="actionAdminMembres" href="#">Membres (<span id="nbMembres">{{ nbElements.membres }}</span>)</a></li>
                <li><a id="actionAdminTchis" href="#">Tchis (<span id="nbTchis">{{ nbElements.tchis }}</span>)</a></li>
            </ul>
        </nav>
        <div id="contentAdministration" class="cadre flex-expanse">
            <section>
                <h2>Statistiques</h2>
                <p>(à venir)</p>
            </section>
            
            <section id="administrerMembres">
                <h2>Listing des membres</h2>
                {% include '/includes/table_adminMembres.twig' %}
            </section>
            
            <section id="administrerTchis" class="hidden">
                <h2>Listing des membres</h2>
                {% include '/includes/table_adminTchis.twig' %}
            </section>
        </div>
    </main>
{% endblock main %}