{% extends 'baseMembre.twig' %}

{% set titrePage = "Paramétrer mon compte" %}

{% block main %}
    <main id="pageParametres" role="main" class="espace-raisonnable">
        <p>Inscription le : {{ membre.inscription }}</p>
        <p>Nombre de jours de jeu : {{ membre.anciennete }}</p>
        
        {% include '/includes/form_compteEdit.twig' %}
        
        <hr class="separateur" />
        
        {% include '/includes/form_compteDelete.twig' %}
    </main>
{% endblock main %}