{% extends 'baseVisiteur.twig' %}

{% block main %}
    <main id="pageIndex" role="main">
        <section class="cadre cadre-moyen">
            {% if membre.pseudo is defined %}
                <p class="txt-center">Bienvenue {{ membre.pseudo }} !</p>
                <p>Utilise le menu de navigation à côté de la bannière pour atteindre une page du site, ou bien clique sur le lien ci-dessous pour t'occuper de ta créature virtuelle :</p>
                <p class="txt-center"><a href="/tchi" />Voir mon Tchi</a></p>
            {% else %}
                {% include '/includes/form_log.twig' %}
            {% endif %}

        </section>
        <div class="espace-raisonnable">
            <p class="txt-grey txt-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, velit in iaculis mattis, lacus eros interdum quam, a porttitor quam urna eget sapien. Donec vel leo quis sapien condimentum imperdiet ut quis ligula. Pellentesque gravida tempor odio, eu ultrices lectus. Morbi eleifend dictum felis, pulvinar hendrerit turpis tempor eget.</p>
            
            <p class="txt-grey txt-center">Donec lobortis, magna nec porta gravida, enim tellus lobortis tellus, ac semper arcu sapien vitae eros. Pellentesque viverra, ipsum eu molestie pellentesque, eros nisi venenatis ex, sit amet molestie erat neque eget quam. Mauris quis commodo neque. Nunc molestie tellus libero, at aliquet orci tincidunt vitae. Etiam a felis nisl. Proin congue interdum sapien, pharetra dignissim lectus tempus quis. Suspendisse nec mattis lorem, vitae tempor sapien.</p>

            <p class="txt-grey txt-center">Fusce mattis, lorem nec iaculis imperdiet, leo sapien ultrices eros, sed molestie dui quam at lacus. Maecenas leo dui, eleifend a leo mollis, rhoncus accumsan sapien. Vivamus mollis imperdiet maximus. Suspendisse euismod nec enim sed ornare !</p>
        </div>
    </main>
        <footer><p class="txt-center"><a href="/informations">Informations légales</a></p></footer>
{% endblock main %}