{% extends 'baseVisiteur.twig' %}

{% block main %}
    <main id="pageInfoslegales" role="main" class="cadre cadre-large">
        <h1>Informations légales</h1>
        
        <section><h2>Sed fruatur</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim justo, tincidunt in risus vel, commodo facilisis leo. Curabitur et tincidunt risus. Quisque scelerisque, lacus vitae ullamcorper tincidunt, tellus odio commodo ex, tristique fermentum justo orci et dolor. Duis tempor nulla sed arcu maximus, ac eleifend nibh luctus. Donec placerat ipsum eget augue convallis venenatis. Pellentesque posuere odio nisi, laoreet faucibus justo molestie a. Sed vitae luctus tellus. Quisque ornare dignissim blandit. Curabitur ut est commodo, scelerisque sapien at, hendrerit eros. Aliquam gravida ultricies sodales. </p>
        </section>
        
        <section><h2>Martinus agens illas</h2>
            <p>Donec eu urna et sem dictum lobortis et vitae sem. Praesent a eros sodales dui dictum tempus. Vestibulum imperdiet convallis turpis, quis semper odio fermentum euismod. Vivamus eu ex ut dui feugiat placerat. Nullam semper, lacus in tincidunt egestas, orci eros egestas ipsum, a pharetra ante dui vitae nisl. Aliquam erat volutpat. Sed neque urna, sollicitudin non dignissim nec, dapibus in lacus. Aliquam finibus vitae nisl eget fringilla. </p>
        </section>
        
        <section><h2>Ut enim quisque sibi plurimum</h2>
            <p>Aenean at ex varius augue placerat vestibulum nec non purus. Aliquam eu ultricies magna, in molestie augue. Morbi mattis lectus sem, fermentum viverra purus scelerisque at. Nullam congue odio velit, nec egestas urna consectetur ac. Nunc semper massa sed commodo varius. Mauris quam metus, mattis sed gravida eu, commodo ut nibh. Morbi condimentum porta vehicula. Vestibulum vel tincidunt erat, luctus ullamcorper sapien.</p>
        </section>
        
        <section><h2>Omitte civitate sontra</h2>
            <p>Phasellus fringilla imperdiet purus at blandit. Aenean enim dolor, rhoncus et vehicula eget, dictum vitae ipsum. Ut vel tincidunt nunc, et auctor nibh. Cras non elit eu urna dictum posuere in pretium diam. Duis et tellus eros. Cras ante velit, tincidunt eu justo eget, pharetra efficitur metus.</p>
        </section>
        
        <section><h2>Contacter l'admin</h2>
            <p>Pour contacter l'admin, vous pouvez envoyer un mail à l'adresse suivante :</p>
            <p class="txt-center"><strong>adresse@domain.fr</strong></p>
        </section>
    </main>
{% endblock main %}