{% extends 'baseMembre.twig' %}

{% set titrePage = fiche.pseudo %}

{% set ficheCSS = fiche.ficheCSS %}

{% block main %}
    <main id="pageProfil" role="main" class="espace-raisonnable">
        <div id="avatar"><img src="/img/icons/user.png" alt="avatar de l'utilisateur" /></div>
        {% if fiche.nomTchi is defined %}
        <div id="seeMyTchi">
            <div id="tchiView"></div>
            <section><h2>{{ fiche.nomTchi }}</h2>
                <p class="txt-grey">
                    {% if fiche.nbJoursTchi <= 1 %}
                        {{ fiche.nbJoursTchi }} jour
                    {% else %}
                        {{ fiche.nbJoursTchi }} jours
                    {% endif %}
                </p>
                <div id="descriptionTchi">
                    <p>{{ fiche.descriptionTchi }}</p>
                </div>
            </section>
        </div>
        {% endif %}
        <hr class="cleareur" />
        <div id="descriptionMembre">
            <p>{{ fiche.descriptionMembre }}</p>
        </div>
        
    </main>
{% endblock main %}