{% extends 'baseMembre.twig' %}

{% set titrePage = "Personnaliser mon profil" %}

{% block main %}
    <main role="main" class="espace-raisonnable">
        {% include '/includes/form_profil.twig' %}
    </main>
{% endblock main %}