{% extends 'baseResume.twig' %}

{% block main %}
    <main id="resume" role="main" class="cadre cadre-large">
        <h1>Résumé</h1>

        <div>
            <p>Mon projet consiste en un site proposant à ses membres inscrits de s’occuper d’une petite créature virtuelle (à la manière d’un tamagotchi), le tout étant un prétexte à l’apprentissage et la mise en pratique des bases du développement web : html, css, js.</p>
            <p>Dans la version Minimum Viable Project (v1), tout visiteur peut se connecter ou s’inscrire, afin de&nbsp;:</p>
            <ul>
                <li>générer une petite créature virtuelle (un « Tchi ») et s’en occuper</li>
                <li>gérer son compte (informations personnelles, suppression de compte)</li>
                <li>compléter et customiser un profil public pour exprimer ses passions</li>
            </ul>
            <p>Un back-office permet aux administrateurs d’avoir une vue sur l’activité du site (liste et nombre de membres, de créatures).</p>
            <p>Le projet tourne sous NginX avec php-fpm, sur un petit Raspberry Pi en auto-hébergement. Le back est en php7 via le micro-framework Slim, et les données sont stockées dans une base de données MySQL (MariaDB) via l'ORM Eloquent. Côté front, le HTML et les CSS sont soutenus par du javascript afin de rendre l’interface plus interactive. Des requêtes ajax permettent de fluidifier la navigation en évitant le rechargement complet des pages dans certains cas.</p>
            <p>À terme, une application mobile prévoit de pouvoir emmener sa petite créature partout. En attendant, le site est full-responsive, et dispose d'une Progressive Web App.</p>


        </div>

    </main>
    <footer>
        <p>Maëlle LaLicorne</p>
        <p>Titre professionnel Développeur logiciel (2018)</p>
    </footer>
{% endblock main %}


