{% extends 'baseTchi.twig' %}

{% if tchi is defined %}
    {% set nomTchi = tchi.nomTchi %}
    {% set nbJours = tchi.nbJours %}
{% endif %}

{% block main %}
    <main id="pageTchi" role="main">
        {% if tchi is defined %}
        <div id="interactionTchi">
            <div id="visuelTchi" class="flex-inline">
                <div id="windowTchi" class="cadre">
                    <img id="vignetteTchi" src="/img/design/shimeji.png" alt="Le Tchi à élever" />
                </div>
                <div id="statsTchi">
                    <div id="statSatiete" class="barreStat" title="Satiété"></div>
                    <div id="statRepos" class="barreStat" title="Repos"></div>
                    <div id="statProprete" class="barreStat" title="Propreté"></div>
                    <div id="statDistraction" class="barreStat" title="Distraction"></div>
                </div>
            </div>
            <div id="manetteTchi" class="flex-inline">
                {% include '/includes/manette_tchi.twig' %}
            </div>
        </div>
        {% else %}
            <div id="instancierTchi" class="cadre cadre-moyen">
            {% include '/includes/form_tchiGenerer.twig' %}
        </div>    
        {% endif %}
    </main>
{% endblock main %}