<div id="modaleMenuNav" class="foreground modale hiddenModale">
    
    <nav class="box">
        <img src="/img/icons/fermer_30.png" id="closeModale" alt="Fermer ce menu" />
        <ul>
            <li id="navLienAccueil" class="navLien"><span class="icon"></span><a href="/">Accueil</a></li>
            <li id="navLienTchi" class="navLien"><span class="icon"></span><a href="/tchi">Tchi</a></li>
            <li id="navLienProfil" class="navLien"><span class="icon"></span><a href="/profil">Mon profil</a></li>
            <li id="navLienParams" class="navLien"><span class="icon"></span><a href="/compte">Paramètres</a></li>
            <li id="navLienLegal" class="navLien"><span class="icon"></span><a href="/informations">Infos légales</a></li>
            {% if "ADMIN" in membre.roles %}
            <li id="navLienAdmin" class="navLien"><span class="icon"></span><a href="/administration">Administration</a></li>
            {% endif %}
            <li id="navLienDeconnect" class="navLien"><form action="/deconnexion" method="POST">
            {% include '/includes/csrf_patchForms.twig' %}
            <span class="icon"></span><button type="submit">Se déconnecter</button>
            </form></li>
        </ul>
    </nav>
</div>
