{% extends 'root.twig' %}

{% block body %}
    <body>
    <main id="page404" role="main" style="text-align : center ; display : flex ; flex-direction : column ; justify-content : center ; align-items : center ;">
        <img src="/img/design/404.png" alt="Erreur 404" style="border-bottom : 1px solid black ;" width="315" />
        <p>La page demandée est introuvable. Peut-être que tu es perdu·e, ou bien qu'elle n'existe pas ? Il vaut mieux<br/><a href="/">revenir à l'accueil du site</a>...</p>
    </main>
    </body>
{% endblock body %}