{% extends 'root.twig' %}

{% block body %}
    <body>
    <main id="errorPage" role="main">
        <img src="/img/design/error.png" alt="Erreur" style="border-bottom : 1px solid black ;" width="315" />
        <p>{{ msg }} <br/>Retourner à <a href="{{ location }}">{{ location_name }}</a></p>
    </main>
    </body>
{% endblock body %}