{% extends 'root.twig' %}

{% block body %}
    <body>
    <main id="pageNotAllowed" role="main" style="text-align : center ; display : flex ; flex-direction : column ; justify-content : center ; align-items : center ;">
        <img src="/img/design/405.png" alt="Erreur 405" style="border-bottom : 1px solid black ;" width="315" />
        <p>Vous n'êtes pas autorisé·e à accéder à cette page. Soit vous n'êtes pas connecté·e à votre compte, soit il ne dispose pas des droits nécessaires. <br/><a href="/">Retourner à l'accueil du site</a></p>
    </main>
    </body>
{% endblock body %}